In [2]:
#Aula 10 - criar colunas no DF

In [3]:
#seção imports
import findspark
import os
import pyspark.sql.functions as R

In [4]:
from pyspark.sql import SparkSession

In [5]:
# Este seção cria o APPNAME e configura o formato de saida da função show()
spark = ( 
    SparkSession.builder
    .master("local")
    .appName('ralves_sess_2')
    .config ("spark.sql.repl.eagerEval.enabled",True)
    .getOrCreate()
)

In [6]:
spark

In [7]:
#comando para parar uma seção SPARK
# spark.stop()

In [8]:
#describe python version
from platform import python_version
print(python_version())

3.7.0

In [9]:
cliente_usa = spark.createDataFrame([(1,"Mike"),(2,"Steve")],["id","cliente"])
cliente_brazil = spark.createDataFrame([("Zé",1),("Joao",2)],["cliente","id"])

In [18]:
new_cliente=cliente_usa.union(cliente_brazil)

In [19]:
new_cliente

+----+-------+
|  id|cliente|
+----+-------+
|   1|   Mike|
|   2|  Steve|
|  Zé|      1|
|Joao|      2|
+----+-------+

In [20]:
new_cliente=cliente_usa.unionByName(cliente_brazil)

In [21]:
new_cliente

+---+-------+
| id|cliente|
+---+-------+
|  1|   Mike|
|  2|  Steve|
|  1|     Zé|
|  2|   Joao|
+---+-------+