In [9]:
#seção imports
import findspark
import os
import pyspark.sql.functions as R
from pyspark.sql import SparkSession

In [10]:
# Este seção cria o APPNAME e configura o formato de saida da função show()
spark = ( 
    SparkSession.builder.appName('ralves_book')
    .config ("spark.sql.repl.eagerEval.enabled",True)
    .getOrCreate()
)

In [11]:
spark

In [27]:
pip install graphviz

Collecting graphviz
  Downloading https://files.pythonhosted.org/packages/de/5e/fcbb22c68208d39edff467809d06c9d81d7d27426460ebc598e55130c1aa/graphviz-0.20.1-py3-none-any.whl (47kB)
Installing collected packages: graphviz
Successfully installed graphviz-0.20.1
Note: you may need to restart the kernel to use updated packages.

You are using pip version 10.0.1, however version 24.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [33]:
#file shortcut 
bookfile=r'C:/sources/2015-summary.csv'

#create dataframe
rabk=spark.read.format("csv").load(bookfile,header="true")

In [23]:
#in Scala
flightData2015 = spark\
.read\
.option("inferSchema", "true")\
.option("header", "true")\
.csv("C:/sources/2015-summary.csv")

In [24]:
display(flightData2015 )

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows