In [2]:
#Aula 22 - PIVOT E UNPIVOT

In [1]:
#seção imports
import findspark
import os
import pyspark.sql.functions as R

In [2]:
from pyspark.sql import SparkSession

In [3]:
# Este seção cria o APPNAME e configura o formato de saida da função show()
# SparkSession é o processo que controla as aplicações em execução no nodes 
spark = ( 
    SparkSession.builder
    .master("local")
    .appName('ralves_sess_pivot')
    .config ("spark.sql.repl.eagerEval.enabled",True)
    .getOrCreate()
)

In [4]:
spark

In [7]:
#comando para parar uma seção SPARK
# spark.stop()

In [5]:
#describe python version
from platform import python_version
print(python_version())

3.7.0

In [6]:
cliente_eng = spark.createDataFrame([(1,"Mike","carro"),(1,"Mike","carro"),(1,"Mike","brinquedo"),(2,"Steve","brinquedo")],["id","cliente","produto"])

In [14]:
cliente_eng

+---+-------+---------+
| id|cliente|  produto|
+---+-------+---------+
|  1|   Mike|    carro|
|  1|   Mike|    carro|
|  1|   Mike|brinquedo|
|  2|  Steve|brinquedo|
+---+-------+---------+

In [7]:
cliente_unico=cliente_eng.dropDuplicates().show()

+---+-------+---------+
| id|cliente|  produto|
+---+-------+---------+
|  1|   Mike|brinquedo|
|  2|  Steve|brinquedo|
|  1|   Mike|    carro|
+---+-------+---------+

In [8]:
cliente_unico=cliente_eng.dropDuplicates(['cliente']).show()

+---+-------+---------+
| id|cliente|  produto|
+---+-------+---------+
|  2|  Steve|brinquedo|
|  1|   Mike|    carro|
+---+-------+---------+

In [11]:
produto_unico=cliente_eng.dropDuplicates(['cliente','produto'])

In [12]:
#pivot table

prd_cliente= (
    produto_unico
    .withColumn('mes',R.current_date())
    .groupBy('produto')
    .pivot('cliente')
    .agg(R.count('*'))
)

In [13]:
prd_cliente

+---------+----+-----+
|  produto|Mike|Steve|
+---------+----+-----+
|    carro|   1| null|
|brinquedo|   1|    1|
+---------+----+-----+